/* line 7, ../scss/header.scss */
.modal-window {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 19, ../scss/header.scss */
.modal-window .modal-wrapper {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px lightgray;
  max-width: 480px;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 30, ../scss/header.scss */
.modal-window .modal-wrapper .modal-closer, .modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-decsription .unlike-item {
  font-size: 25px;
  font-weight: bold;
  padding-right: 9px;
  padding-left: 9px;
  color: #533f81;
  border-radius: 30px;
}
/* line 38, ../scss/header.scss */
.modal-window .modal-wrapper .modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #533f81;
  color: white;
}
/* line 46, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body {
  background-color: #fff;
  padding: 10px 15px;
}
/* line 49, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container {
  display: flex;
  flex-direction: column;
}
/* line 52, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item {
  display: flex;
  box-shadow: 0 0 0 1px lightgray;
  padding: 15px;
  border-radius: 8px;
}
/* line 57, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-image {
  max-width: 90px;
}
/* line 59, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
/* line 68, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-decsription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bold;
}
/* line 74, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-decsription p {
  padding: 0 15px 0 15px;
  line-height: 1.5;
}
/* line 78, ../scss/header.scss */
.modal-window .modal-wrapper .modal-body .flex-container .flex-card-item .flex-decsription .unlike-item {
  background-color: #533f81;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 10px;
}

/* line 95, ../scss/header.scss */
header {
  position: fixed;
  max-width: 1440px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  box-shadow: 4px 7px 29px rgba(0, 0, 0, 0.51);
}
/* line 108, ../scss/header.scss */
header .navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  /* line 108, ../scss/header.scss */
  header .navigation-panel {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media screen and (max-width: 800px) and (max-width: 400px) {
  /* line 108, ../scss/header.scss */
  header .navigation-panel {
    padding-top: 0px;
  }
}

/* line 120, ../scss/header.scss */
header .navigation-panel .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
/* line 125, ../scss/header.scss */
header .navigation-panel .brand h2 {
  position: relative;
  top: 3px;
  font-size: 20px;
  font-weight: bolder;
  color: #939393;
}
/* line 131, ../scss/header.scss */
header .navigation-panel .brand h2 span {
  color: #533f81;
}
/* line 135, ../scss/header.scss */
header .navigation-panel .brand button {
  display: none;
  padding: 3px 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px lightgray;
  border-radius: 3px;
  background-color: #fff;
  transition: .1s linear;
}
/* line 146, ../scss/header.scss */
header .navigation-panel .brand button:active {
  background-color: #f2f2f2;
}
/* line 149, ../scss/header.scss */
header .navigation-panel .brand button img {
  width: 1em;
  height: .875em;
}
@media screen and (max-width: 800px) {
  /* line 135, ../scss/header.scss */
  header .navigation-panel .brand button {
    display: block;
  }
}
/* line 158, ../scss/header.scss */
header .navigation-panel ul {
  overflow: hidden;
  max-width: 700px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height .2s linear;
}
/* line 169, ../scss/header.scss */
header .navigation-panel ul.show {
  height: 207px;
}
@media screen and (max-width: 1260px) {
  /* line 158, ../scss/header.scss */
  header .navigation-panel ul {
    max-width: 600px;
  }
}
@media screen and (max-width: 1260px) and (max-width: 800px) {
  /* line 158, ../scss/header.scss */
  header .navigation-panel ul {
    height: 0px;
    max-width: 320px;
    flex-direction: column;
    align-items: start;
  }
}

/* line 182, ../scss/header.scss */
header .navigation-panel ul li {
  font-size: 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  line-height: 1.25;
}
@media screen and (max-width: 800px) {
  /* line 182, ../scss/header.scss */
  header .navigation-panel ul li {
    line-height: 1.5;
  }
}
/* line 191, ../scss/header.scss */
header .navigation-panel ul li:nth-last-child(-n+2) a:after {
  content: "";
  display: none;
}
/* line 195, ../scss/header.scss */
header .navigation-panel ul li a {
  color: black;
  text-decoration: none;
}
/* line 199, ../scss/header.scss */
header .navigation-panel ul li a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #533f81;
  margin-right: auto;
  margin-left: auto;
  transition: width .2s ease-out;
}
/* line 209, ../scss/header.scss */
header .navigation-panel ul li a:hover:after, header .navigation-panel ul li a:focus:after {
  width: 100%;
}
