/* line 5, ../scss/footer.scss */
footer {
  background-color: #533f81;
  padding-top: 100px;
}
/* line 8, ../scss/footer.scss */
footer .footer-content-wrapper {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
/* line 15, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column {
  max-width: calc(33% - 30px);
  width: 100%;
  color: white;
  line-height: 1.5;
  padding: 15px;
}
/* line 22, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column:nth-child(3) ul {
  display: flex;
}
/* line 24, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column:nth-child(3) ul li:last-child {
  margin-left: 15px;
}
/* line 29, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column a {
  color: lightgray;
  text-decoration: none;
}
/* line 33, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
/* line 37, ../scss/footer.scss */
footer .footer-content-wrapper .footer-column ul {
  margin-top: 15px;
}
/* line 41, ../scss/footer.scss */
footer .footer-content-wrapper .last-column {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
}
/* line 46, ../scss/footer.scss */
footer .footer-content-wrapper .last-column hr {
  border: none;
  box-shadow: none;
  outline: none;
  border-top: 1px solid #3d2e5f;
  padding: 0;
}
